@<SCOPE>:registry=https://artifactory.laforge.cloud.bpifrance.fr/artifactory/api/npm/npm-all/
//artifactory.laforge.cloud.bpifrance.fr/artifactory/api/npm/npm-all/:_authToken=${ARTIFACTORY_TOKEN}
//artifactory.laforge.cloud.bpifrance.fr/artifactory/api/npm/npm-all/:email=${ARTIFACTORY_EMAIL}
//artifactory.laforge.cloud.bpifrance.fr/artifactory/api/npm/npm-all/:always-auth=true
