@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Montserrat', sans-serif;
  background: #f7f7f7;
  color: #111;
}

nav.navbar,
#participants-title {
  font-family: 'Great Vibes', cursive;
}

button {
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: #0a66c2;
}